<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: main-head('update ad')">

</head>
<body>
<!--/*@thymesVar id="oldPost" type=""*/-->
<form th:action="${'/posts/'+ post.getId() +'/edit'}" method="post">
    <h2>Create post form</h2>

    <label for="title"></label>
    <input type="text" id="title" name="post_title" th:value="${post.title}">

    <br>

    <label for="body">Body</label>
    <input type="text" id="body" name="post_body" th:value="${post.body}">

    <br>

    <input type="submit" value="Edit post">
</form>
</body>
</html>